@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  margin-top: 1em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #E7F1F9;
}

figure {
  margin-top: 0;
}

figcaption {
  margin-top: 0;
  color: #959798;
  font-size: 12px;
  font-family: 'Graphik Trial', sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-style: italic;
  word-wrap: break-word;
  padding-bottom: 16px;
  text-align: center;
}

code {
  color: #f2515e;
  background-color: #dedede;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.profile-card {
  width: 560px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: flex;
}

.header {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  display: inline-flex;
  display: row;
}

.profile-image {
  width: 100px;
  height: 100px;
}

.header-text {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  height: auto;
}

.back-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 89px;
}

.back-text a {
  align-self: flex-end;
}

.name {
  width: 130px;
  height: 29px;
  color: #3D85C6;
  font-size: 20px;
  font-family: 'Graphik Trial', sans-serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

.pronouns {
  width: 130px;
  height: auto;
  color: #6FA8DC;
  font-size: 16px;
  font-family: 'Graphik Trial', sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.section-wrapper {
  gap: 16px;
}

.section {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  display: flex;
  margin: 0;
}

.section-header {
  width: 100px;
  height: 24px;
  color: #3D85C6;
  font-size: 16px;
  font-family: 'Graphik Trial', sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  text-align: right;
  margin: 0;
  hyphens: auto;
}

.section-content {
  flex: 1 1 0;
  gap: 12px;
  margin: 0;
}





.text {
  color: #6FA8DC;
  font-size: 16px;
  font-family: 'Graphik Trial', sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  padding-bottom: 16px;
}

.text-emp {
  color: #3D85C6;
  font-size: 16px;
  font-family: 'Graphik Trial', sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  padding-bottom: 16px;
}

.see-more {
  color: #57BB8A;
  font-size: 16px;
  font-family: 'Graphik Trial', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  line-height: 24px;
  word-wrap: break-word;
}



.text-wrapper {
  height: auto;
  margin-top: 0;
  margin-bottom: 16px;
}

.thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 0;
}

.content-img {
  width: auto;
  height: auto;
  object-fit: cover;
  margin-top: 0;
}